.root {
    position: relative !important;
    background-color: #fff !important;
    border-radius: 12px !important;
    /* min-height: 600px !important; */
    max-height: 700px !important;
    min-width: 1000px !important;
    width: 80%;
    max-width: 1100px !important;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 32px 0px !important;
}

.partition1 {
    width: 50% !important;
}

.loginImg {
    position: relative !important;
    width: 100% !important;

}

.partition2 {
    width: 50% !important;
}

.title {
    font-size: 28px !important;
    font-weight: 900 !important;
    line-height: 32px !important;
    margin-bottom: 20px !important;
}

.inputWraper {
    margin-bottom: 20px !important;
}

.inputlabel {
    font-weight: 600 !important;
    line-height: 24px !important;
    margin-bottom: 5px !important;
}

.inputBox {
    border: 1px solid rgba(140, 140, 140, 0.2);
    border-radius: 12px !important;
    width: 80% !important;
    padding: 10px 20px 10px 20px;
    font-size: 12px !important;
    line-height: 16px !important;
    background-color: #f9fafb !important;
    height: 48px !important;

    & fieldset {
        border: none !important;
    }
}

.errorInput {
    border-color: red;
}

.FormHelperText {
    color: red !important;
}

.tncWrap {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    margin-bottom: 10px !important;
    width: 80% !important;
}

.tncText {
    font-size: 12px !important;
    margin-left: 5px !important;
    font-weight: 400 !important;

    & a {
        text-decoration: unset !important;
        color: #1c64f2 !important;
        font-weight: 600;
    }
}

.signInBtn {
    /* border:1px solid rgba(140, 140, 140, 0.2); */
    border-radius: 12px !important;
    width: 80% !important;
    padding: 10px !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: white !important;
    background-color: #1c64f2 !important;
    margin-top: 10px !important;
    text-transform: unset !important;
}

.signInBtn:disabled {
    background-color: #1c64f299 !important;

}

.prevBtn {
    width: 80% !important;
    color: black !important;
    background-color: white !important;
    border: 1px solid rgba(140, 140, 140, 0.8) !important
}

.btnsWrap {
    max-width: 80% !important;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.loginLinkBtn {
    color: rgb(0, 136, 255) !important;
    text-decoration: none !important;
}

.loginRedirect {
    margin-left: auto !important;
}

@media only screen and (max-width: 1000px) {
    .partition1 {
        display: none !important;
    }

    .root {
        max-width: 600px !important;
        min-width: 450px !important;
    }

    .partition2 {
        width: 100% !important;
        padding: 0 32px !important;
    }

    .inputBox,
    .btnsWrap {
        width: 100% !important;
        max-width: 100% !important;
    }
}