.root{
    background-color:#f6f8ff !important;
    height:100vh;
    display:flex;
    overflow: hidden !important;
}
.sidebar{
    width: 314px !important;
}
.content{
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
}