.root{
    position: relative !important;
    background-color: #fff !important;
    border-radius: 12px !important;
    height: 534px !important;
    min-width: 1000px !important;
    width: 80%;
    max-width: 1100px !important;
    transform: translate(-50%,-50%) !important;
    top: 50% !important;
    left:50% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}
.partition1{
    width: 50% !important;
}
.loginImg{
    position: relative !important;
    width: 100% !important;
    
}
.partition2{
    width: 50% !important;
}
.title{
    font-size: 28px !important;
    font-weight: 900 !important;
    line-height: 32px !important;
    margin-bottom: 20px !important;
}
.inputWraper{
    margin-bottom: 20px !important;
}
.inputlabel{
    font-weight: 600 !important; 
    line-height: 24px !important;
    margin-bottom: 5px !important;
}
.inputBox{
    border:1px solid rgba(140, 140, 140, 0.2);
    border-radius: 12px !important;
    width: 80% !important;
    padding: 10px 20px 10px 20px;
    font-size: 12px !important;
    line-height: 16px !important;
    background-color: #f9fafb !important;
}
.errorInput{
    border-color: red;
}
.FormHelperText{
    color: red !important;
}
.rememberMeWrap{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    width: 80% !important;
}
.rememberMeText{
    font-size: 12px !important;
    margin-left: 5px !important;
    font-weight: 400 !important;
}
.signInBtn{
    /* border:1px solid rgba(140, 140, 140, 0.2); */
    border-radius: 12px !important;
    width: 80% !important;
    padding: 10px !important;
    font-size: 16px !important;
    line-height: 20px !important;
    text-transform: unset !important;
    color:white !important;
    background-color: #1c64f2 !important;
    margin-top: 20px !important;
}
.signInBtn:disabled{
    background-color: #1c64f299 !important;

}
.loginRedirect{
    margin-left: auto !important;
    & a{
        text-decoration: unset !important;
        color: #1c64f2 !important;
        font-weight: 600;
    }
}
.passwordWrapper {
    display: flex;
    align-items: center;
  }
  
  .viewPasswordIcon {
    padding: 0;
    margin-left: -30px;
  }
  